selenium
ipykernel
thefuzz
langchain
langchain_openai
langchain_core
python-dotenv
langserve
fastapi
uvicorn
llama-index
openai
pypdf
python-dotenv
pypdf
transformers
einops
accelerate
langchain
bitsandbytes
llama-index-llms-huggingface
ipywidgets
langchain-community
sentence_transformers
llama-index-llms-huggingface
sentence_transformers
llama-index-llms-langchain
torchvision
