selenium
thefuzz
langchain
langchain_openai
langchain_core
python-dotenv
langserve
fastapi
uvicorn
llama-index
openai
pypdf
python-dotenv
pypdf
transformers
einops
accelerate
langchain
bitsandbytes
llama-index-llms-huggingface
ipywidgets