selenium
thefuzz
langchain
langchain_openai
langchain_core
python-dotenv
langserve
fastapi
uvicorn
llama-index
openai
pypdf
python-dotenv
pypdf
transformers
sentence-transformers
einops
accelerate
langchain
bitsandbytes
llama-index-llms-huggingface
ipywidgets
langchain-community
llama-cpp-python
sentence_transformers
llama-index-llms-huggingface
sentence_transformers
llama-index-llms-langchain
torchvision
llama-index-llms-openai
llama-index-readers-file
pymupdf
langchainhub
langsmith
llama-index-llms-ollama
pydantic
fastapi
requests
sse_starlette
